/* My CSS */


body {
	color: #A60000;
	background-color: #FFC873;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em; 
	background: #feb645; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb645 0%, #f1e767 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb645), color-stop(100%,#f1e767)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb645 0%,#f1e767 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb645 0%,#f1e767 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb645 0%,#f1e767 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb645 0%,#f1e767 100%); /* W3C */
}

header {
	color: white;
	background-color: #A60000; 
	letter-spacing: 15px;
	text-align: center; 
	line-height: 50pt;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 4px 4px 5px #000000;
	font-family: 'Chela One', serif;
	font-size: 3em;
}

h2 {
	color: white;
	background-color: #A60000;
	opacity: 0.5;
	line-height: 25pt; 
	text-indent: 10px; 
	text-transform: uppercase;
	font-family: 'Wellfleet', serif;
	letter-spacing: 2px;
}

h3, h4 {
	text-transform: uppercase;
}

h5 {
	color: hsl(32, 96%, 27%);
	text-transform: uppercase;
}

nav, ol {
	color: darkred;
	background-color: #FFB273;
	list-style-type: circle;
	background-image: url("../images/music.png");
	background-repeat: no-repeat;
	background-position: right;
}

a {
	color: rgb(153, 102, 0);
}

a:link {
	color: darkred;
}

a:hover {
	color: white;
}

a:visited {
	color: blue;
}

a:active {
	color: brown;
}

article {
	width: 90%;
	height: 100%;
	padding: 1%;
	border: 5px solid brown;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #000000;
	display: block;
	background-image: url("../images/pattern.gif");
	background-repeat: repeat;
	background-position: center;
}

.column1of2 {
	float: left;
	width: 60%;
	margin: 1%;
	clear: none;
	padding: 1%;
}

.column2of2 {
	float: right;
	width: 30%;
	margin: 1%;
	clear: none;
	padding: 1%;
}

table, td {
	position: center;
	width: 820px;
	padding: 5px;
	text-transform: none;
	letter-spacing: 1px;
	font-size: 1em;
	border: 0px;
	text-align: center; 
	background-color: white;
	border-spacing: 5px;
}

table td:hover {
	background-color: yellow;
}

#form {
	width: 40%;
	padding: 10px;
	margin: 15px 2px auto;
	font-size: 1em;
	color: #A60000;
	border: 5px solid darkred;
	border-radius: 25px;
	text-align: left;
	background-color: #FF7400;
}