/* My CSS */

/* All colors I got from Color Scheme Designer except the HSL values */
/* The HSL color values I got from HSL Color Picker */


body {
	color: #A60000;
	background-color: #FFC873;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt; 
}

h1 {
	color: white;
	background-color: #A60000; 
	letter-spacing: 25px;
	text-align: center; 
	line-height: 45pt;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 4px 4px 5px #000000;
	font-family: 'Chela One', serif;
	font-size: 25pt;
}

h2 {
	color: #FF7400;
	background-color: #A60000;
	opacity: 0.5;
	line-height: 25pt; 
	text-indent: 10px; 
	text-transform: uppercase;
	font-family: 'Wellfleet', serif;
	letter-spacing: 2px;
}

h3, h4 {
	text-transform: uppercase;
}

h5 {
	color: hsl(32, 96%, 27%);
	text-transform: uppercase;
}

ol {
	color: darkred;
	background-color: #FFB273;
	list-style-type: circle;
}

a {
	color: rgb(153, 102, 0);
}

a:link {
	color: darkred;
}

a:hover {
	color: white;
}

a:visited {
	color: blue;
}

a:active {
	color: brown;
}

#container {
	width: 1000px;
	height: 370px;
	padding: 10px;
	border: 5px solid brown;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #000000;
	display: block;
}